body {
    font-family: Arial, sans-serif;
    background-color: rgba(234, 131, 131, 0.575);
    margin: 5 px;
    padding: 5 px;
    height: 100vh;
}

form {
    background-color: rgb(145, 235, 171);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 97%;
}

label {
    display: block;
    margin-bottom: 8px;
    width: 20%;
    height: 30%;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: rgba(234, 243, 243, 0.984);
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 50, 189);
}